# Discord bot token (required)
DISCORD_TOKEN=an_awesome_discord_bot_token_:D

# Discord application client ID (optional)
# DISCORD_CLIENT_ID=123456789012345678

# Runtime environment
NODE_ENV=development